<html>
<head>
<title>NodeJS</title>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(function (){
    <%- include ../highcharts-themes/dark-unica.js %>

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Bolsas Estudantis'
        },
        xAxis: {
            categories: [<%= years %>]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Modalidades de Bolsas Estudantis'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -60,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'PIBIC',
            data: [<%= pibicAssistance %>]
        }, {
            name: 'PIBIC-JR',
            data: [<%= pibicJrAssistance %>]
        }, {
            name: 'PIBIT',
            data: [<%= pibitAssistance %>]
        }, {
            name: 'PIBEX',
            data: [<%= pibexAssistance %>]
        }, {
            name: 'Voluntário',
            data: [<%= volunteerAssistance %>]
        }]
    });
});
</script>
</head>

<body style='background-color: #323232'>
<div id="container" style="width:100%; height:400px;"></div>

</body>
</html>