<html>
<head>
<title>NodeJS</title>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(function (){
    Highcharts.setOptions(Highcharts.dark);

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Produção Anual'
        },
        xAxis: {
            categories: [<%= anoRetrasado %>, <%= penultimoAno %>, <%= ultimoAno %>]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total fruit consumption'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'Pesquisa',
            data: [5, 3, <%= totalPesquisaUltimoAno %>]
        }, {
            name: 'Ensino',
            data: [2, 2, <%= totalEnsinoUltimoAno %>]
        }, {
            name: 'Extensão',
            data: [3, 4, <%= totalExtensaoUltimoAno %>]
        }]
    });
});
</script>
</head>

<body style='background-color: #323232'>
<div id="container" style="width:100%; height:400px;"></div>

</body>
</html>