<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body class="pt-5">
  <header class="mb-5">
    <% include ../partials/navbar %>
  </header>
  <main role="main" class="container">

    <h1 class="text-center mt-2 inset-text">CISP</h1>

    <h2 class="featurette-heading my-2 inset-text">O que é o CISP?</h2>
    <br> O
    <i class="font-italic">Ciclo de Seminários de Pesquisa</i> (
    <b>CISP</b>) do IFMG-Sabará foi criado em agosto de 2018 tendo como objetivo proporcionar um ambiente de discussões científicas
    entre os servidores, discentes e a comunidade externa do campus, pensando e discutindo sobre a resolução de problemas
    específicos via métodos científicos, além de manter ativos os grupos de pesquisa existentes no campus. Para a participação
    nos seminários não há necessidade de cadastro ou registro prévio. Neste ambiente os participantes contribuem com um lanche
    coletivo, propiciando um ambiente descontraído como nos moldes do
    <i class="font-italic">pint of science</i>, sendo os seminários ocorrendo no espaço interno do campus e o lanche como um café da tarde.

    <h2 class="featurette-heading my-2 inset-text">Como tudo começou</h2>
    <br>O
    <b>CISP</b> foi iniciado em setembro de 2018 e contou com quatro pesquisadores que compartilharam suas pesquisas com discentes,
    servidores e comunidade externa do campus ao longo do ano. Em setembro o Prof. Me. Daniel Conrado apresentou sua pesquisa
    sobre a elaboração de um jogo digital terapêutico para apoiar o tratatamento e bem-estar de crianças com câncer. Em outubro
    o Prof. Dr. Daniel Rocha abordou a bioengenharia e a aplicação dos conhecimentos de engenharia no desenvolvimento de
    tecnologias para auxiliar os seres vivos. No dia 14 de novembro a bacharelanda em Sistemas de Informação do IFMG-Sabará,
    Nayane França apresentou sua pesquisa para identificação de perfis ansiosos no meio acadêmico utilizando técnicas de
    ciências de dados. No dia 28 de novembro foi a vez de uma convidada externa, a Profª. Drª. Lillia Barsante que falou
    sobre modelagem matemática do ciclo do
    <i>Aedes</i>, tema de seu doutorado no CEFET-MG e que vem trabalhando em projetos de pesquisa com professores e alunos do
    IFMG-Sabará. O seminário ocorreu em consoante à "Semana Nacional de Combate ao
    <i>Aedes</i>", que ocorre do dia 25 a 30 de novembro. O
    <b>CISP 2018</b> encerrou-se no dia 12 de dezembro com a apresentação da Profª. Drª. Camila Pereira. A proposição da criação
    destes ciclos de seminários, bem como sua organização foi idealizada pelos professores do campus: Carlos Alexandre, Cristiane
    Norbiato e Daniel Conrado.

    <% var count = 0;
     for(presentation of presentations) {
      if (presentation['apresentado'] == 0) count++;
    } 
    if (count > 0){ %>

      <!-- PRÓXIMAS APRESENTAÇÕES -->
      <h2 class="featurette-heading my-2 inset-text">Próximas Apresentações</h2>
      <div class="row mb-2">
        <% for(presentation of presentations) {
        if(presentation['apresentado'] == 0){ %>
          <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">
                </strong>
                <h3 class="mb-0">
                  <%= presentation['titulo'] %>
                </h3>
                <div class="mb-1 text-muted">
                  <% var now = presentation['data']; %>
                    <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                      <%= now.toLocaleDateString('en-GB',options); %>
                        <br>
                        <%= now.toLocaleTimeString(); %>
                          <br>
                          <%= presentation['local']; %>
                </div>
                <p class="card-text mb-auto">
                  <%= presentation['apresentador'] %>
                </p>
                <a href="/CPPG/cisp/<%=presentation['id']%>" class="stretched-link">Ver mais</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="100%" src="/CPPG/assets/images/2cisp.jpg" focusable="false" role="img"
                  aria-label="Placeholder: Thumbnail">
                </img>
              </div>
            </div>
          </div>
          <% }
         } %>
      </div>
      <!-- FIM PRÓXIMAS APRESENTAÇÕES -->

      <%} %>

        <!-- GALERIA DE APRESENTAÇÕES -->
        <h2 class="featurette-heading my-2 inset-text">Apresentações Anteriores</h2>
        <div class="container">
          <div class="row">
            <% for(presentation of presentations){
           if(presentation['apresentado'] == 1){ %>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a href="/CPPG/cisp/<%=presentation['id']%>">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Foto de capa da apresentação"
                      style="height: 225px; width: 100%; display: block;" src="<%=presentation['galeria_imagens']%>photo1.jpg"
                      data-holder-rendered="true">
                  </a>
                  <div class="card-body">
                    <p class="card-text">
                      <%= presentation['titulo'] %> -
                        <%= presentation['apresentador'] %>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/CPPG/cisp/<%=presentation['id']%>" type="button" class="btn btn-sm btn-outline-success">Ver mais</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }
           } %>

                <!-- FIM GALERIA DE APRESENTAÇÕES -->
  </main>
  <!-- Bootstrap core JavaScript -->
  <% include ../partials/footer %>

    <script type="text/javascript">
      document.title = 'CISP - ' + document.title;
    </script>

</body>

</html>