<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ../partials/head %>
    <link rel="stylesheet" href="/CPPG/assets/css/presentationDetails.css" />
</head>

<body class="pt-5 text-center">
    <header class="mt-5">
        <% include ../partials/navbar %>
    </header>
    <% for (presentation of presentations) { %>
        <main role="main" class="container">
            
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    <%=presentation['titulo']%>
                </h3>

                <div class="blog-post">
                        <img src="/CPPG/assets/images/2cisp.jpg" class="rounded float-right" width="200px" height="250px" alt="foto do autor(a)">
                    <div>
                    <h2 class="blog-post-title"><%=presentation['apresentador']%></h2>
                    <p class="blog-post-meta"><% var now = presentation['data']; %>
                        <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                        <%= now.toLocaleDateString('en-GB',options); %> <br>
                        <%= now.toLocaleTimeString(); %> <br>
                        <%= presentation['local']; %>
                    </p>
                </div>
                    <hr>
                    <h2>Resumo da Apresentação</h2>
                    <p><%= presentation['resumo']; %></p>
                    <hr>
                    <h2>Sobre o(a) Apresentador(a)</h2>
                    <p><%= presentation['sobre_apresentador']; %></p>
                </div>
                <!-- /.blog-post -->

            
            <% } %>
                <!--FOOTER-->
                <footer class="container">
                    <p class="float-right">
                        <a href="#">Voltar ao topo</a>
                    </p>
                    <p>© 2018 IFMG Campus Sabará</p>
                </footer>

        </main>
</body>

</html>