<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="/CPPG/assets/css/searchProceedings.css">
</head>

<body class="pt-5">
    <header class="mb-5">
        <% include ../partials/navbar %>
    </header>

    <main role="main" class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Grupos de Pesquisa</h3>
            </div>

            <div class="card-body">
                <div class="table-container text-left">
                    <table class="table table-filter">
                        <tbody>
                            <% for (researchGroup of researchGroups){%>
                                <tr data-status="Tìtulo">
                                    <td class="text-center mx-auto">
                                        <div class="ckbox m-auto d-block">
                                            <input type="checkbox" id="checkbox1">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-4">
                                        </div>

                                        <div class="media d-block">
                                            <a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
                                                <img src="/CPPG/favicon.ico" class="media-photo">
                                            </a>
                                            <div class="media-body">
                                                <span class="media-meta float-right">
                                                    <% var now = researchGroup[3];
                                                    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                                                    <%= now.toLocaleDateString('en-GB',options); %>
                                                </span>
                                                <h4 class="title">
                                                    <%= researchGroup[1] %>
                                                        <span class="pull-right Tìtulo">(Título)</span>
                                                </h4>
                                                <h4 class="title text-muted">Área:
                                                    <%= researchGroup[2] %>
                                                </h4>
                                                <p class="summary">Pesquisadores:
                                                    <% if (researchGroup[4] != [] && researchGroup[4] != undefined) {
                                                        for (author of researchGroup[4]){%>
                                                            <span>
                                                                <%= author %>;</span>
                                                        <%}
                                                    }%>
                                                </p>
                                                <p class="summary">
                                                    <% if (researchGroup[5] != [] && researchGroup[5] != undefined && researchGroup[5].length != 0) { %>
                                                        Alunos Envolvidos:
                                                        <% for (student of researchGroup[5]) {%>
                                                            <span>
                                                                <%= student %>;</span>
                                                        <%}
                                                    }%>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>

</html>