<!DOCTYPE html>
<html lang="pt-br">

<head>
	<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/CPPG/assets/css/searchProceedings.css">
</head>

<body class="pt-5">

	<header class="mb-5">
		<% include ../partials/navbar %>
	</header>

	<main role="main" class="container" id="container">

		<div class="card text-center">
			<div class="card-header">
				<h3 id="table-title" class="inset-text">Projetos de Pesquisa Relacionados</h3>
			</div>

			<div class="my-3"></div>

			<div class="row" style="width:100%;padding-left: 2%;" id="row">
				<!-- FILTRO -->
				<div class="col-lg-2">
					<ul class="list-group">
						<li class="list-group-item list-group-item-success">Filtrar por...</li>
						<button class="btn btn-success filter">Todos</button>
						<li class="list-group-item list-group-item-success">Ano</li>
						<button class="btn filter">2019</button>
						<button class="btn filter">2018</button>
						<button class="btn filter">2017</button>
						<button class="btn filter">2016</button>
						<button class="btn filter">2015</button>
						<button class="btn filter">2014</button>
						<button class="btn filter">2013</button>
						<button class="btn filter">2012</button>
						<li class="list-group-item list-group-item-success">Modalidade da Bolsa</li>
						<button class="btn filter">PIBIC</button>
						<button class="btn filter">PIBIC-JR</button>
						<button class="btn filter">PIBITI</button>
						<button class="btn filter">Voluntário</button>
						<button class="btn filter">PIBEX</button>
						<li class="list-group-item list-group-item-success">Agente Financiador</li>
						<button class="btn filter">Interno</button>
						<button class="btn filter">FAPEMIG</button>
						<button class="btn filter">CNPq</button>
					</ul>
				</div>


				<div class="table-container text-left col-lg">
					<table class="table table-filter" id="researchWorkTable">
						<tbody>
							<% for (researchWork of researchWorks){%>
								<%	var now = new Date(researchWork[2]); %>

									<tr data-status="Tìtulo" id="<%=now.getFullYear();%> <%=researchWork[5]%> <%=researchWork[6]%>">
										<td class="text-center mx-auto">
											<div class="ckbox m-auto d-block">
												<input type="checkbox" id="<%=researchWork[1]%>">
												<label for="<%=researchWork[1]%>"></label>
											</div>
										</td>
										<td>
											<div class="col-sm-4">
											</div>

											<div class="media d-block">
												<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
												</a>
												<div class="media-body">
													<% if (researchWork[2] != [] && researchWork[2] != undefined && researchWork[2] != null){
														var now = new Date(researchWork[2]); %>
														<span class="media-meta float-right">
															<%var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
																<%= now.toLocaleDateString('en-GB',options); %>
																	<% } %>
														</span>

														<h4 class="title">
															<%= researchWork[1] %>
																<span class="pull-right Tìtulo">(Título)</span>
														</h4>

														<p class="summary Autor">Autores:
															<% if (researchWork[3] != [] && researchWork[3] != undefined) {
																for (author of researchWork[3]){%>
																<span>
																	<%= author %>;</span>
																<%}
													}%>
														</p>
														<p class="summary">Alunos Envolvidos:
															<% if (researchWork[4] != [] && researchWork[4] != undefined) {
																for (student of researchWork[4]) {%>
																<span>
																	<%= student %>;</span>
																<%}
													}%>
														</p>
												</div>
											</div>
										</td>
									</tr>
									<% } %>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		</div>
	</main>

	<!-- Bootstrap core JavaScript -->
	<% include ../partials/footer %>

		<!-- Other Js -->
		<script src="/CPPG/assets/js/searchProceedings.js"></script>
		<script type="text/javascript">
			document.title = 'Projetos - ' + document.title;
		</script>
</body>

</html>