<!DOCTYPE html>
<html lang="pt-br">

<head>
	<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/CPPG/assets/css/searchProceedings.css">
		<link rel="stylesheet" type="text/css" href="/CPPG/assets/css/cloud.css">
</head>

<body class="pt-5">
	<header class="mb-5">
		<% include ../partials/navbar %>
	</header>

	<main role="main" class="container">

		<div class="card text-center">
			<div class="card-header">
				<h3>Professores</h3>
				<!-- <h5 class="text-left">Buscou por: <span class="ml-3">"<i>STR</i>"</span></h5> -->
			</div>

			<div class="card-body">
				<h6>Clique para ver as áreas de conhecimento baseadas nas publicações</h6>

				<div class="col-md-8 col-md-offset-2">
					<%- cloud %>
				</div>

				<div class="dropdown-divider my-3"></div>
			</div>
		</div>

		<% if (chkBoxProceedings) {%>
			<div class="card text-center">
				<div class="card-header">
					<h3 id="proceedings">Publicações Relacionadas</h3>
					<!-- <h5 class="text-left">Buscou por: <span class="ml-3">"<i>STR</i>"</span></h5> -->
				</div>

				<div class="card-body">


					<div class="row" style="width:100%;padding-left: 2%;">

						<!-- FILTRO -->
						<div class="col-lg-2">
							<ul class="list-group">
								<li class="list-group-item list-group-item-success">Filtrar por...</li>
								<button class="btn btn-success proceeding-filter">Todos</button>
								<li class="list-group-item list-group-item-success">Ano</li>
								<button class="btn proceeding-filter">2019</button>
								<button class="btn proceeding-filter">2018</button>
								<button class="btn proceeding-filter">2017</button>
								<button class="btn proceeding-filter">2016</button>
								<button class="btn proceeding-filter">2015</button>
								<button class="btn proceeding-filter">2014</button>
								<button class="btn proceeding-filter">2013</button>
								<button class="btn proceeding-filter">2012</button>
								<button class="btn proceeding-filter">2011</button>
								<li class="list-group-item list-group-item-success">País</li>
								<button class="btn proceeding-filter">Brasil</button>
								<button class="btn proceeding-filter">Portugal</button>
								<li class="list-group-item list-group-item-success">Cidade</li>
								<button class="btn proceeding-filter">Bambuí</button>
								<button class="btn proceeding-filter">Brasília</button>
								<button class="btn proceeding-filter">Gramado</button>
								<button class="btn proceeding-filter">Lisboa</button>
								<button class="btn proceeding-filter">Natal</button>
								<button class="btn proceeding-filter">Porto de Galinhas</button>
								<button class="btn proceeding-filter">Recife</button>
								<button class="btn proceeding-filter">Rio de Janeiro</button>
								<button class="btn proceeding-filter">São José do Rio Preto</button>
								<button class="btn proceeding-filter">São Paulo</button>
								<button class="btn proceeding-filter">Vitória</button>
							</ul>
						</div>

						<div class="table-container text-left col-lg" id="researchProceedingsTable">
							<table class="table table-filter">
								<tbody>
									<% if (proceedingsByName){
										for (proceeding of proceedingsByName){%>
										<tr data-status="Tìtulo" id="proceeding <%=proceeding[4];%> <%=proceeding[5];%> <%=proceeding[6];%>">
											<td class="text-center mx-auto">
												<div class="ckbox m-auto d-block">
													<input type="checkbox" id="checkbox1">
													<label for="checkbox1"></label>
												</div </td>
												<td>
													<div class="col-sm-4">
													</div>

													<div class="media d-block">
														<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
															<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
														</a>
														<div class="media-body">
															<span class="media-meta float-right">
																<%=proceeding[4];%>
															</span>
															<h4 class="title">
																<%if (proceeding[3] == 'null') {%>
																	<%= proceeding[1] %>
																		<%} else {%>
																			<a href="<%= proceeding[3] %>" target="blank">
																				<%= proceeding[1] %>
																			</a>
																			<%}%>

																				<span class="pull-right Tìtulo">(Título)</span>
															</h4>
															<p class="summary">Autores:
																<% for (author of proceeding[2]){%>
																	<span>
																		<%= author %>;</span>
																	<%}%>
															</p>
															<p class="summary">Alunos Envolvidos:
																<% for (student of proceeding[7]){%>
																	<span>
																		<%= student %>;</span>
																	<%}%>
															</p>
														</div>
													</div>
												</td>
										</tr>
										<% }
									} %>

											<% if (proceedingsByAuthor){
											for (proceeding of proceedingsByAuthor){%>
												<tr data-status="Autor" id="proceeding <%=proceeding[4];%> <%=proceeding[5];%> <%=proceeding[6];%>">
													<td>
														<div class="ckbox">
															<input type="checkbox" id="checkbox1">
															<label for="checkbox1"></label>
														</div>
													</td>
													<td>
														<div class="col-sm-4">
														</div>

														<div class="media">
															<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
															</a>
															<div class="media-body">
																<span class="media-meta pull-right">
																	<%=proceeding[4];%>
																</span>
																<h4 class="title">
																	<%if (proceeding[3] == 'null') {%>
																		<%= proceeding[1] %>
																			<%} else {%>
																				<a href="<%= proceeding[3] %>" target="blank">
																					<%= proceeding[1] %>
																				</a>
																				<%}%>

																					<span class="pull-right Tìtulo">(Tìtulo)</span>
																</h4>
																<p class="summary">Autores:
																	<% for (author of proceeding[2]){%>
																		<span>
																			<%= author %>;</span>
																		<%}%>
																</p>
																<p class="summary">Alunos Envolvidos:
																	<% for (student of proceeding[7]){%>
																		<span>
																			<%= student %>;</span>
																		<%}%>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<% }
										} %>

													<% if (proceedingsByStudents){
																for (proceeding of proceedingsByStudents){%>
														<tr data-status="Aluno" id="proceeding <%=proceeding[4];%> <%=proceeding[5];%> <%=proceeding[6];%>">
															<td>
																<div class="ckbox">
																	<input type="checkbox" id="checkbox1">
																	<label for="checkbox1"></label>
																</div>
															</td>
															<td>
																<div class="col-sm-4">
																</div>

																<div class="media">
																	<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
																	</a>
																	<div class="media-body">
																		<span class="media-meta pull-right">
																				<%=proceeding[4];%>
																		</span>
																		<h4 class="title">
																			<%if (proceeding[3] == 'null') {%>
																				<%= proceeding[1] %>
																					<%} else {%>
																						<a href="<%= proceeding[3] %>" target="blank">
																							<%= proceeding[1] %>
																						</a>
																						<%}%>

																							<span class="pull-right Tìtulo">(Título)</span>
																		</h4>
																		<p class="summary">Autores:
																			<% for (author of proceeding[2]){%>
																				<span>
																					<%= author %>;</span>
																				<%}%>
																		</p>
																		<p class="summary">Alunos Envolvidos:
																			<% for (student of proceeding[7]){%>
																				<span>
																					<%= student %>;</span>
																				<%}%>
																		</p>
																	</div>
																</div>
															</td>
														</tr>
														<% }
															} %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<% }

				if (chkBoxResearchWorks) {%>
				<div class="card text-center">
					<div class="card-header">
						<!-- CHECKBOX PROJETOS DE PESQUISA -->
						<h3 id="research">Projetos de Pesquisa Relacionados</h3>
						<!-- <h5 class="text-left">Buscou por: <span class="ml-3">"<i>STR</i>"</span></h5> -->
					</div>

					<div class="my-3"></div>

					<div class="row" style="width:100%;padding-left: 2%;">

						<!-- FILTRO -->
						<div class="col-lg-2">
							<ul class="list-group">
								<li class="list-group-item list-group-item-success">Filtrar por...</li>
								<button class="btn btn-success research-filter">Todos</button>
								<li class="list-group-item list-group-item-success">Ano</li>
								<button class="btn research-filter">2019</button>
								<button class="btn research-filter">2018</button>
								<button class="btn research-filter">2017</button>
								<button class="btn research-filter">2016</button>
								<button class="btn research-filter">2015</button>
								<button class="btn research-filter">2014</button>
								<button class="btn research-filter">2013</button>
								<button class="btn research-filter">2012</button>
								<button class="btn research-filter">2011</button>
								<li class="list-group-item list-group-item-success">Modalidade da Bolsa</li>
								<button class="btn research-filter">PIBIC</button>
								<button class="btn research-filter">PIBIC-JR</button>
								<button class="btn research-filter">PIBITI</button>
								<button class="btn research-filter">Voluntário</button>
								<button class="btn research-filter">PIBEX</button>
								<li class="list-group-item list-group-item-success">Agente Financiador</li>
								<button class="btn research-filter">Interno</button>
								<button class="btn research-filter">FAPEMIG</button>
								<button class="btn research-filter">CNPq</button>
							</ul>
						</div>

						<div class="table-container text-left col-lg" id="researchTable">
							<table class="table table-filter">
								<tbody>
									<% if (researchWorksByName){%>
										<% for (researchWork of researchWorksByName){%>
											<% var now = new Date(researchWork[2]); %>
												<tr data-status="Tìtulo" id="researchWork <%=now.getFullYear();%> <%=researchWork[5]%> <%=researchWork[6]%>">
													<td class="text-center mx-auto">
														<div class="ckbox m-auto d-block">
															<input type="checkbox" id="checkbox1">
															<label for="checkbox1"></label>
														</div>
													</td>
													<td>
														<div class="col-sm-4">
														</div>

														<div class="media d-block">
															<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
															</a>
															<div class="media-body">
																<span class="media-meta float-right">
																	<% if (researchWork[2] != [] && researchWork[2] != undefined && researchWork[2] != null){
																			var now = new Date(researchWork[2]);
																			var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
																		<%= now.toLocaleDateString('en-GB',options); %>
																			<% } %>
																</span>
																<h4 class="title">
																	<%= researchWork[1] %>
																		<span class="pull-right Tìtulo">(Título)</span>
																</h4>
																<p class="summary">Autores:
																	<% for (author of researchWork[3]){%>
																		<span>
																			<%= author %>;</span>
																		<%}%>
																</p>
																<p class="summary">Alunos Envolvidos:
																	<% for (student of researchWork[4]){%>
																		<span>
																			<%= student %>;</span>
																		<%}%>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<% }
									} %>

													<% if (researchWorksByAuthor){
															for (researchWork of researchWorksByAuthor){
																var now = new Date(researchWork[2]); %>
														<tr data-status="Autor" id="researchWork <%=now.getFullYear();%> <%=researchWork[5]%> <%=researchWork[6]%>">
															<td>
																<div class="ckbox">
																	<input type="checkbox" id="checkbox1">
																	<label for="checkbox1"></label>
																</div>
															</td>
															<td>
																<div class="col-sm-4"></div>

																<div class="media">
																	<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
																	</a>
																	<div class="media-body">
																		<span class="media-meta pull-right">
																			<% if (researchWork[2] != [] && researchWork[2] != undefined && researchWork[2] != null){
																						var now = new Date(researchWork[2]);
																						var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
																				<%= now.toLocaleDateString('en-GB',options); %>
																					<% } %>
																		</span>
																		<h4 class="title">
																			<%= researchWork[1] %>
																				<span class="pull-right Tìtulo">(Título)</span>
																		</h4>
																		<p class="summary">Autores:
																			<% if (researchWork[3] != [] && researchWork[3] != undefined) {
																						for (author of researchWork[3]){%>
																				<span>
																					<%= author %>;</span>
																				<%}
																					}%>
																		</p>
																		<p class="summary">Alunos Envolvidos:
																			<% if (researchWork[4] != [] && researchWork[4] != undefined) {
																						for (student of researchWork[4]){%>
																				<span>
																					<%= student %>;</span>
																				<%}
																					}%>
																		</p>
																	</div>
																</div>
															</td>
														</tr>
														<% }
															} %>

															<% if (researchWorksByStudents){
																for (researchWork of researchWorksByStudents){
																				var now = new Date(researchWork[2]); %>
																<tr data-status="Aluno" id="researchWork <%=now.getFullYear();%> <%=researchWork[5]%> <%=researchWork[6]%>">
																	<td>
																		<div class="ckbox">
																			<input type="checkbox" id="checkbox1">
																			<label for="checkbox1"></label>
																		</div>
																	</td>
																	<td>
																		<div class="media">
																			<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
																			</a>
																			<div class="media-body">
																				<span class="media-meta pull-right">
																					<% if (researchWork[2] != [] && researchWork[2] != undefined && researchWork[2] != null){
																								var now = new Date(researchWork[2]);
																									var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
																						<%= now.toLocaleDateString('en-GB',options); %>
																							<% } %>
																				</span>
																				<h4 class="title">
																					<%= researchWork[1] %>
																						<span class="pull-right Tìtulo">(Título)</span>
																				</h4>
																				<p class="summary">Autores:
																					<% for (author of researchWork[3]){%>
																						<span>
																							<%= author %>;</span>
																						<%}%>
																				</p>
																				<p class="summary">Alunos Envolvidos:
																					<%if (researchWork[4]) {
																								for (student of researchWork[4]){%>
																						<span>
																							<%= student %>;</span>
																						<%}
																								}%>
																				</p>
																			</div>
																		</div>
																	</td>
																</tr>
																<% }
																} %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<%}

				if (chkBoxGroups) {%>
					<div class="card text-center">
						<div class="card-header">
							<!-- CHECKBOX GRUPOS DE PESQUISA -->
							<h3 id="group">Grupos de Pesquisa Relacionados</h3>
							<!-- <h5 class="text-left">Buscou por: <span class="ml-3">"<i>STR</i>"</span></h5> -->
						</div>

						<div class="my-3"></div>

						<div class="row" style="width:100%;padding-left: 2%;">

							<!-- FILTRO -->
							<div class="col-lg-2">
								<ul class="list-group">
									<li class="list-group-item list-group-item-success">Filtrar por...</li>
									<button class="btn btn-success group-filter">Todos</button>
									<li class="list-group-item list-group-item-success">Ano</li>
									<button class="btn group-filter">2019</button>
									<button class="btn group-filter">2018</button>
									<button class="btn group-filter">2017</button>
									<button class="btn group-filter">2016</button>
									<button class="btn group-filter">2015</button>
									<button class="btn group-filter">2014</button>
									<button class="btn group-filter">2013</button>
									<button class="btn group-filter">2012</button>
									<button class="btn group-filter">2011</button>
									<li class="list-group-item list-group-item-success">Área</li>
									<button class="btn group-filter">Administração</button>
									<button class="btn group-filter">Ciência da Computação</button>

								</ul>
							</div>

							<div class="table-container text-left col-lg" id="researchGroupsTable">
								<table class="table table-filter">
									<tbody>
										<% if (groupsByName){
												for (group of groupsByName){
													var now = new Date(group[3]); %>
											<tr data-status="Tìtulo" id="group <%=now.getFullYear()%> <%=group[2]%>">
												<td class="text-center mx-auto">
													<div class="ckbox m-auto d-block">
														<input type="checkbox" id="checkbox1">
														<label for="checkbox1"></label>
													</div>
												</td>
												<td>
													<div class="col-sm-4">
													</div>

													<div class="media d-block">
														<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
															<img src="/CPPG/favicon.ico" class="media-photo">
														</a>
														<div class="media-body">
															<span class="media-meta float-right">
																<% if (group[3] != [] && group[3] != undefined && group[3] != null){
																	var now = new Date(group[3]);
																		var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
															<%= now.toLocaleDateString('en-GB',options); %>
																<% } %>
															</span>
															<h4 class="title">
																<%= group[1] %>
																	<span class="pull-right Tìtulo">(Título)</span>
															</h4>
															<p class="summary">Autores:
																<% for (author of group[4]){%>
																	<span>
																		<%= author %>;</span>
																	<%}%>
															</p>
															<p class="summary">Alunos Envolvidos:
																<% for (student of group[5]){%>
																	<span>
																		<%= student %>;</span>
																	<%}%>
															</p>
														</div>
													</div>
												</td>
											</tr>
											<% }
										} %>

												<%	if (groupsByAuthor){
												for (group of groupsByAuthor){
													var now = new Date(group[3]); %>
													<tr data-status="Autor" id="group <%=now.getFullYear()%> <%=group[2]%>">
														<td>
															<div class="ckbox">
																<input type="checkbox" id="checkbox1">
																<label for="checkbox1"></label>
															</div>
														</td>
														<td>
															<div class="col-sm-4"></div>

															<div class="media">
																<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																	<img src="/CPPG/favicon.ico" class="media-photo">
																</a>
																<div class="media-body">
																	<span class="media-meta pull-right">
																<% if (group[3] != [] && group[3] != undefined && group[3] != null){
																	var now = new Date(group[3]);
																		var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
															<%= now.toLocaleDateString('en-GB',options); %>
																<% } %>
																	</span>
																	<h4 class="title">
																		<%= group[1] %>
																			<span class="pull-right Tìtulo">(Título)</span>
																	</h4>
																	<p class="summary">Autores:
																		<% if (group[4] != [] && group[4] != undefined) {
																	for (author of group[4]){%>
																			<span>
																				<%= author %>;</span>
																			<%}
																}%>
																	</p>
																	<p class="summary">Alunos Envolvidos:
																		<% if (group[5] != [] && group[5] != undefined) {
																	for (student of group[5]){%>
																			<span>
																				<%= student %>;</span>
																			<%}
																}%>
																	</p>
																</div>
															</div>
														</td>
													</tr>
													<% }
										}%>
														<% if (groupsByStudents){
											for (group of groupsByStudents){
												var now = new Date(group[3]); %>
															<tr data-status="Aluno" id="group <%=now.getFullYear()%> <%=group[2]%>">
																<td>
																	<div class="ckbox">
																		<input type="checkbox" id="checkbox1">
																		<label for="checkbox1"></label>
																	</div>
																</td>
																<td>
																	<div class="media">
																		<a href="#" class="float-left pr-3 pr-md-0 mr-md-5">
																			<img src="/CPPG/favicon.ico" class="media-photo">
																		</a>
																		<div class="media-body">
																			<span class="media-meta pull-right">		
																<% if (group[3] != [] && group[3] != undefined && group[3] != null){
																	var now = new Date(group[3]);
																		var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
															<%= now.toLocaleDateString('en-GB',options); %>
																<% } %>
																			</span>
																			<h4 class="title">
																				<%= group[1] %>
																					<span class="pull-right Tìtulo">(Título)</span>
																			</h4>
																			<p class="summary">Autores:
																				<% for (author of group[4]){%>
																					<span>
																						<%= author %>;</span>
																					<%}%>
																			</p>
																			<p class="summary">Alunos Envolvidos:
																				<%if (group[5]) {
																			for (student of group[5]){%>
																					<span>
																						<%= student %>;</span>
																					<%}
																		}%>
																			</p>
																		</div>
																	</div>
																</td>
															</tr>
															<% }
												} %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>
					<% } %>

						</div>
						<!-- FOOTER -->
						<footer class="container">
							<p class="float-right">
								<a href="#">Voltar ao topo</a>
							</p>
							<p>© 2018 IFMG Campus Sabará</p>
						</footer>
	</main>

	<!-- Bootstrap core JavaScript -->
	<% include ../partials/footer %>

		<!-- Other Js -->
		<script src="/CPPG/assets/js/searchProceedings.js"></script>
		<script type="text/javascript">
			document.title = 'Busca - ' + document.title;
		</script>

</html>